@import url('https://fonts.googleapis.com/css?family=Cuprum|Roboto+Slab|Ubuntu&display=swap');
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Cuprum', sans-serif;

$mainColor: #323334;
$bgColor: #EBECED;
$hColor: #97BC97;


html, body{
  margin: 0;
  padding: 0;

  color: $bgColor;

  overflow-y: hidden;
  height: 100%;
}

.innerContainer>a, .logoSlogan>a{
  text-decoration: none;
}
.headerContainer{
  display: flex;
  align-items: center;

  background-color: $mainColor;
  color: $bgColor;

  min-height: 48px;
}
.innerContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  margin: auto;
  padding: 0;

  width: 1024px;
  height: 32px;
}


.logoContainer{
  display: flex;
  align-items: center;
  text-align: center;

  margin-right: auto;
}
.imgContainer{
  display: flex;
  align-items: center;
  align-self: flex-start;
  text-align: center;

  height: 32px;
  width: 32px;

  background: white;

  border: 1px solid $bgColor;
  border-radius: 3px 3px 3px 3px;
}

#logo{
  height: 16px;
  width: 16px;
  color: $mainColor;

  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;

  padding: 0;
  margin: 0 auto 0 auto;
}

.logoSlogan{
  display: flex;
  align-items: center;
  text-align: center;

  height: 32px;

  margin: auto .8em;

  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#slogan{
  font-size: 1.3em;
  color: $bgColor;
}
#sloganH{
  font-weight: bold;
  color: $hColor;
}

#logButton, #signButton{
  height: 23px;
  width: auto;

  display: flex;
  align-items: center;

  margin-left: .3em;
  padding: 0 .5em;

  border: 1px solid $bgColor;
  border-radius: 3px;
  background-color: $mainColor;

  cursor: pointer;
}
#logButton>img, #signButton>img{
  height: 16px;
  width: 16px;

  padding-left: .3em;
}
#logButton>span, #signButton>span{
  font-family: 'Roboto', sans-serif;
  color: $bgColor;
}

.navContainer{
  display: flex;
  align-items: center;

  margin-right: 1em;

  height: 23px;
  border-right: 2px solid $hColor;
}
.navContainer>ul{
  display: inline-flex;
  justify-content: center;
  list-style: none;

  height: 23px;
  padding: 0 1em;
}
.navContainer>ul>li{
  justify-content: space-around;
  margin: auto .5em;
}
.navContainer>ul>li>a{
  color: $bgColor;

  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.navContainer>ul>li>a:hover{
  color: $hColor;

  font-family: 'Roboto', sans-serif;
  border-bottom: 3px solid $hColor;
  transition: all .3s ease;

}

.logContainer{
  display: flex;
  align-items: center;

  // margin-left: auto;
  margin-right: 1em;
  padding: 0 .5em;
}
.logContainer>a{
  text-decoration: none;
  color: $bgColor;
  font-family: 'Roboto', sans-serif;
}
.logForm{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logForm>input[name="loginBar"],
.logForm>input[name="pwdBar"]{
  border: 2px solid $hColor;
  border-radius: 3px;
  background-color: $bgColor;

  width: 80px;
  margin: auto .3em;

  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#signButton:hover,#logButton:hover{
  border: 1px solid $hColor;
  border-radius: 3px;
  background-color: $mainColor;

  color: $hColor;
}

.logForm>input[name="loginBar"]:focus,
.logForm>input[name="pwdBar"]:focus{
  outline: none;
}



#menuContainer{
  display: flex;
  align-items: center;
}

.menuContainerAni{
  transform: rotate(360deg);

  transition: transform 1.5s ease;
}

#menuContainer>a{
  display: flex;
  align-self: center;
  text-align: center;
}
#menuContainer>a>img{
  max-height: 23px;
  max-width: 23px;
}





// DEIXAR POR ULTIMO
// DEIXAR POR ULTIMO
// DEIXAR POR ULTIMO
@media all and (max-width: 1024px){
  .navContainer, .logContainer{
    display: none;
  }
  .logoContainer{
    margin-left: 2em;
  }
  #menuContainer{
    display: flex;
    margin-right: 2em;
  }
}
@media all and (max-width: 875px){
  .navContainer, .logContainer{
    display: none;
  }
  #menuContainer{
    display: flex;
    margin-right: 2em;
  }
}
